body {
    background-image: url(images/clouds.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.card {
    width: 90%;
    max-width: 600px;
    min-width: 200px; 

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5)
}

.form-control::placeholder {
    color: white !important;
    opacity: 1;
}

.my-switch {
    padding-top: 3px;
}
  
.my-switch .form-switch {
    margin: 3px 0px 0px 5px;
    width: 20px;
}