* {
    color: white;
}

svg {
    fill: white;
}

body {
    background-image: url(images/clouds.avif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

img {
    filter: invert(100%) sepia(3%) saturate(589%) hue-rotate(297deg) brightness(119%) contrast(100%);;
}

.card {
    width: 90%;
    max-width: 600px;
    min-width: 200px; 

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5)
}

.form-control::placeholder {
    color: white !important;
    opacity: 1;
}

.my-switch {
    padding-top: 3px;
}
  
.my-switch .form-switch {
    margin: 0.25rem -0.5rem 0 0.5rem;
}

.weather-icon {
    width: 100px; 
      height: 100px; 
      margin: 10px;
}