* {
    color: white;
}

svg {
    fill: white;
}

body {
    background-image: url(images/weatherapp_bg.jpeg);
    background-color: grey;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

img {
    filter: invert(100%) sepia(3%) saturate(589%) hue-rotate(297deg) brightness(119%) contrast(100%);
}

input[type="search"]::-webkit-search-cancel-button {
    filter: brightness(0) invert(1);
  }

input:focus {
    outline: none !important;
  }

li {
    color: white !important;
}

.form-switch.form-switch-md {
    margin-bottom: 1rem; /* JUST FOR STYLING PURPOSE */
  }
  
  .form-switch.form-switch-md .form-check-input {
    height: 1.5rem;
    width: calc(2rem + 0.75rem);
    border-radius: 3rem;
  }
  

.card {
    width: 90%;
    max-width: 600px;
    min-width: 20rem; 

    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5)
}

.form-control::placeholder {
    color: white !important;
    opacity: 1;
}

.form-text {
    color: white !important;
    font-size: 1.3em !important;
}

.my-switch {
    padding-bottom: 1rem;
    justify-content: center;
}
  
.my-switch .form-switch {
    margin: 0.25rem -0.5rem 0 0.5rem;
}

.weather-icon {
    width: 100px; 
      height: 100px; 
      margin: 10px;
}

.pac-matched {
    color: black !important;
  }